html,body {
  padding: 0;
  margin: 0;
  background-color: #ffefd6;
}

h1 {
  text-align: center;
  color: rgb(53, 35, 6);
}

.container {
  width: 50%;
  margin: 30px auto;
}

/* 入力フォーム */
.add-form {
  display: flex;
  padding: 0;
  justify-content: center;
}

#input {
  border-radius: 4px 0 0 4px;
  border: solid 1px #555;
  flex-grow: 1;
}

#input:focus {
  outline-width: 0;
}

#cart {
  background-color: #aaa;
  padding: 7px;
  border-radius: 0 4px 4px 0;
  border: solid 1px #555;
}

/* リスト表示 */
#buy-list {
  margin-top: 10px;
  padding: 5px;
  list-style: none;
  border: solid 1px orange;
  border-radius: 4px;
}

#buy-list > div  {
  margin: 5px 0;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  /* height: 30px; */
}


#buy-list > div > label {
  /* height: 100%; */
  flex-grow: 1;
  color: #333;
  padding-left: 10px;
  position: relative;
  vertical-align: middle;
}

#buy-list > div > label > input {
  display: none;
}

/* リストの動作 */
.checked {
  background-color: rgb(140, 240, 185);
  border-radius: 4px;
}

.close {
  padding: 3px 4px;
  margin-right: 3px;
  background-color: #aaa;
  border-radius: 50%;
}

.remark {
  background-color: rgb(255, 177, 177);
  transition: 0.5s;
}
